---
import social from '../assets/social.jpg';

type Props = {
  title: string;
};

const { title } = Astro.props;
const metaDescription =
  'Realistische tatoeages waar vakmanschap en jouw verhaal samenkomen. We zetten jouw ideeën om in kunst die spreekt, met of zonder verborgen betekenissen.';

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,600;8..144,700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <meta
      name="keywords"
      content="tattoos, zelfexpressie, persoonlijke verhalen, creativiteit, lichaamskunst, illusion, realisme tattoo, tattoo kunst, individuele expressie, artistieke tattoos, tattoo ontwerp, persoonlijke kunst, lichaamspositiviteit"
    />
    <meta name="author" content="Illusion Ink." />

    <!-- Open Graph tags for social media -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={social['src']} />
    <meta property="og:url" content="https://www.illusionink.nl" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={social['src']} />
  </head>

  <body class="bg-black lg:h-[calc(100vh_-_5rem)]">
    <slot />

    <footer
      class="mx-auto max-w-7xl px-6 h-20 md:flex md:items-center md:justify-between lg:px-8 relative z-10"
    >
      <div class="flex justify-center space-x-6 md:order-2">
        <a
          href="https://www.instagram.com/illusion.ink_studio/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white hover:text-gray-300"
        >
          <span class="sr-only">Instagram</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="flex flex-wrap justify-center gap-x-2 gap-y-1 md:gap-x-4 mt-8 md:order-1 md:mt-0 pb-12 md:pb-0">
        <a href="https://irishamer-dot-ink.salonized.com/widget_bookings/new"
        target="_blank" class="text-center text-xs leading-5 text-gray-300 underline">
          Open op afspraak
        </a>

        <a class="text-center text-xs leading-5 text-gray-300" href="tel:+31643003512">
          Tel: 06 430 035 12
        </a>

        <p class="text-center text-xs leading-5 text-gray-300">
          Dorpsstraat 24, 3648 AH Wilnis
        </p>

        <p class="text-center text-xs leading-5 text-gray-300">
          &copy; 2023 - {new Date().getFullYear()} Illusion ink. Alle rechten voorbehouden.
        </p>
      </div>
    </footer>
  </body>
</html>
